* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

nav {
    height: 75px;
    width: 100%;
    display: flex;
    padding: 20px 35px;
    /* background-color: bisque; */
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.bold {
    font-weight: bold;
    ;
}

.gray {
    color: #918E9B;
}

.nav--logo {
    max-width: 100px;
    height: 55px;
}

section {
    padding: 20px;

}

.hero {
    display: flex;
    flex-direction: column;
}

.hero--photo {

    height: 400px;
    width: 65%;
    align-self: center;
}

.hero--header {
    margin-bottom: 16px;
}

.hero--text {
    margin-top: 0;
}

.box {
    display: flex;
    flex-direction: column;
}

.card {
    /* width: 175px; */
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    padding: 15px 25px;
    position: relative;
}

.card--image {
    height: 300px;
    width: 250px;
    /* padding: 10px 30px; */
    border-radius: 9px;

}

.stars {
    height: 25px;
    width: 28px;
    justify-content: center;
}

.card--badge {
    position: absolute;
    top: 6px;
    left: 6px;
    background-color: white;
    padding: 5px 7px;
    border-radius: 2px;
    font-weight: bold;
}